In [1]:
import pandas as pd
import matplotlib.pyplot as plt
train_work=pd.read_csv("uet-hackathon-2022-data-science/work_train.csv")
test_work=pd.read_csv("uet-hackathon-2022-data-science/work_test.csv")
train_info=pd.read_csv("uet-hackathon-2022-data-science/info_train.csv")
test_info=pd.read_csv("uet-hackathon-2022-data-science/info_test.csv")
y_train=pd.read_csv("uet-hackathon-2022-data-science/label_train.csv")


df=train_work
df = df.drop(columns=['id', 'id_bh','id_management','id_office','from_date','to_date'])
print(df['company_type'].value_counts())
print(df['job/role'].value_counts())
print(df['employee_lv'].value_counts())
print(df['address'].value_counts())

-1    169994
 1     27654
 6     21870
 7     17849
 3      3080
 8      2922
 2      2116
 4      2023
 5        51
Name: company_type, dtype: int64
Công nhân                                               11728
Giáo viên                                               10537
Nhân viên                                                9306
Công nhân vận hành máy may                               7122
Công nhân sản xuất                                       5505
                                                        ...
Tổ trưởng tổ thiết kế thuộc phòng kỹ thuật công nghệ        1
Kỹ sư lâm nghiệp phòng kế hoạch kỹ thuật                    1
Cấp dương ( HĐLĐ)                                           1
Cấp dưỡng (HĐLĐ)                                            1
Công nhân làm đường, xí nghiệp xây lắp 3                    1
Name: job/role, Length: 28355, dtype: int64
8.0      31361
7.0      31227
9.0      27122
6.0      27020
5.0      20710
         ...
53.0        34
56.0        33
58.0        25
57.0        24
331.0        1
Name: employee_lv, Length: 62, dtype: int64
Vĩnh Phúc                       43098
Bắc Ninh                         9158
Bắc Giang                        8267
Hà Nội                           7929
tỉnh Nghệ An                     7705
                                ...
tỉnh Sông Bé                        1
T                                   1
TP Bắc ninh; 0966348499             1
Bình Phước .                        1
37 DưƠNG Bá CUNG P. AN LạC A        1
Name: address, Length: 1644, dtype: int64

In [2]:
print(df['job/role'].value_counts())

Công nhân                                               11728
Giáo viên                                               10537
Nhân viên                                                9306
Công nhân vận hành máy may                               7122
Công nhân sản xuất                                       5505
                                                        ...
Tổ trưởng tổ thiết kế thuộc phòng kỹ thuật công nghệ        1
Kỹ sư lâm nghiệp phòng kế hoạch kỹ thuật                    1
Cấp dương ( HĐLĐ)                                           1
Cấp dưỡng (HĐLĐ)                                            1
Công nhân làm đường, xí nghiệp xây lắp 3                    1
Name: job/role, Length: 28355, dtype: int64

In [3]:
import pandas as pd
pd.get_option("display.max_columns")

20

In [4]:
pd.set_option("display.max_columns", None)

In [5]:
print(df['job/role'].value_counts())

Công nhân                                               11728
Giáo viên                                               10537
Nhân viên                                                9306
Công nhân vận hành máy may                               7122
Công nhân sản xuất                                       5505
                                                        ...
Tổ trưởng tổ thiết kế thuộc phòng kỹ thuật công nghệ        1
Kỹ sư lâm nghiệp phòng kế hoạch kỹ thuật                    1
Cấp dương ( HĐLĐ)                                           1
Cấp dưỡng (HĐLĐ)                                            1
Công nhân làm đường, xí nghiệp xây lắp 3                    1
Name: job/role, Length: 28355, dtype: int64

In [6]:
df['job/role']

0                   Giám đốc
1                   Giám đốc
2           Nhân viên lễ tân
3           Nhân viên lễ tân
4                        NaN
                 ...
247554    Công nhân ĐM rôbốt
247555                   NaN
247556               Phụ kho
247557               Phụ kho
247558               Phụ kho
Name: job/role, Length: 247559, dtype: object

In [7]:
pd.set_option("display.max_columns", None)

In [8]:
print(df['job/role'].value_counts())

Công nhân                                               11728
Giáo viên                                               10537
Nhân viên                                                9306
Công nhân vận hành máy may                               7122
Công nhân sản xuất                                       5505
                                                        ...
Tổ trưởng tổ thiết kế thuộc phòng kỹ thuật công nghệ        1
Kỹ sư lâm nghiệp phòng kế hoạch kỹ thuật                    1
Cấp dương ( HĐLĐ)                                           1
Cấp dưỡng (HĐLĐ)                                            1
Công nhân làm đường, xí nghiệp xây lắp 3                    1
Name: job/role, Length: 28355, dtype: int64

In [9]:
df[df['job/role'].str.contains('Công nhân')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [10]:
df.isnull().sum()

company_type        0
job/role        33457
employee_lv         5
address         64031
dtype: int64

In [11]:
df["job/role"].fillna('Công nhân', inplace = True)

In [13]:
df.head(10)

   company_type               job/role  employee_lv   address
0            -1               Giám đốc          7.0    Hà Nội
1            -1               Giám đốc         10.0    Hà Nội
2            -1       Nhân viên lễ tân          7.0    Hà Nội
3            -1       Nhân viên lễ tân          8.0    Hà Nội
4            -1              Công nhân         -1.0       NaN
5            -1  Nhân viên Sales Admin          8.0    Hà Nội
6            -1  Nhân viên Sales Admin          9.0  Việt Nam
7            -1              Công nhân          9.0       NaN
8            -1  Nhân viên Sales Admin          9.0    Hà Nội
9            -1                Kế toán          1.0       NaN

In [14]:
df['address'].value_counts()

Vĩnh Phúc                       43098
Bắc Ninh                         9158
Bắc Giang                        8267
Hà Nội                           7929
tỉnh Nghệ An                     7705
                                ...
tỉnh Sông Bé                        1
T                                   1
TP Bắc ninh; 0966348499             1
Bình Phước .                        1
37 DưƠNG Bá CUNG P. AN LạC A        1
Name: address, Length: 1644, dtype: int64

In [15]:
df["address"].fillna('Vĩnh Phúc', inplace = True)

In [16]:
df['employee_lv'].value_counts()

8.0      31361
7.0      31227
9.0      27122
6.0      27020
5.0      20710
         ...
53.0        34
56.0        33
58.0        25
57.0        24
331.0        1
Name: employee_lv, Length: 62, dtype: int64

In [17]:
df["employee_lv"].fillna('8.0', inplace = True)

In [18]:
df.isnull().sum()

company_type    0
job/role        0
employee_lv     0
address         0
dtype: int64

In [25]:
df['job/role'].str.startswith('Công')

0         False
1         False
2         False
3         False
4          True
          ...
247554     True
247555     True
247556    False
247557    False
247558    False
Name: job/role, Length: 247559, dtype: bool