<a href="https://colab.research.google.com/github/datle2403/datle2403/blob/main/hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [239]:
import numpy as np
import pandas as pd
work_train= pd.read_csv('work_train.csv')
work_test=pd.read_csv('work_test.csv')

info_train=pd.read_csv('info_train.csv')
info_test= pd.read_csv('info_test.csv')

label_train= pd.read_csv('label_train.csv')
label_test= pd.read_csv('label_test.csv')

In [240]:
work_train.head()

,id,id_bh,id_management,id_office,company_type,job/role,from_date,to_date,employee_lv,address
0,1,113039360,106,TF2212F,-1,Giám đốc,20130100,20151200,7.0,Hà Nội
1,1,113039360,106,TF2212F,-1,Giám đốc,20160100,20220400,10.0,Hà Nội
2,2,116074930,102,TB16010,-1,Nhân viên lễ tân,20160600,20161200,7.0,Hà Nội
3,2,116074930,102,TB16010,-1,Nhân viên lễ tân,20170100,20170300,8.0,Hà Nội
4,2,116074930,102,NaN,-1,NaN,20170400,20170700,-1.0,NaN

In [241]:
info_train.head()

   bithYear  gender           address      id_bh
0      1971    MALE            hà Nội  113039360
1      1993  FEMALE  Thành phố Hà Nội  116074930
2      1977    MALE               NaN  203060233
3      1996  FEMALE               NaN  131373210
4      1971    MALE               NaN  198079441

In [242]:
work_train.info(),info_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247559 entries, 0 to 247558
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             247559 non-null  int64
 1   id_bh          247559 non-null  int64
 2   id_management  247559 non-null  int64
 3   id_office      235391 non-null  object
 4   company_type   247559 non-null  int64
 5   job/role       214102 non-null  object
 6   from_date      247559 non-null  int64
 7   to_date        247559 non-null  int64
 8   employee_lv    247554 non-null  float64
 9   address        183528 non-null  object
dtypes: float64(1), int64(6), object(3)
memory usage: 18.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27502 entries, 0 to 27501
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bithYear  27502 non-null  int64
 1   gender    27502 non-null  object
 2   address   13214 non-null  object
 3   id_bh     27502 non-null  int64
dtypes: int64(2), object(2)
memory usage: 859.6+ KB

(None, None)

In [243]:
label_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27502 entries, 0 to 27501
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_bh   27502 non-null  int64
 1   label   27502 non-null  int64
dtypes: int64(2)
memory usage: 429.8 KB

In [244]:
work_train=work_train.drop_duplicates(subset=['id_bh'])
work_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27502 entries, 0 to 247550
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             27502 non-null  int64
 1   id_bh          27502 non-null  int64
 2   id_management  27502 non-null  int64
 3   id_office      27489 non-null  object
 4   company_type   27502 non-null  int64
 5   job/role       27366 non-null  object
 6   from_date      27502 non-null  int64
 7   to_date        27502 non-null  int64
 8   employee_lv    27499 non-null  float64
 9   address        22252 non-null  object
dtypes: float64(1), int64(6), object(3)
memory usage: 2.3+ MB

In [245]:
train_ds= work_train.merge(info_train, right_on='id_bh',left_on='id_bh')
train_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27502 entries, 0 to 27501
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             27502 non-null  int64
 1   id_bh          27502 non-null  int64
 2   id_management  27502 non-null  int64
 3   id_office      27489 non-null  object
 4   company_type   27502 non-null  int64
 5   job/role       27366 non-null  object
 6   from_date      27502 non-null  int64
 7   to_date        27502 non-null  int64
 8   employee_lv    27499 non-null  float64
 9   address_x      22252 non-null  object
 10  bithYear       27502 non-null  int64
 11  gender         27502 non-null  object
 12  address_y      13214 non-null  object
dtypes: float64(1), int64(7), object(5)
memory usage: 2.9+ MB

In [246]:
train_ds.head()

,id,id_bh,id_management,id_office,company_type,job/role,from_date,to_date,employee_lv,address_x,bithYear,gender,address_y
0,1,113039360,106,TF2212F,-1,Giám đốc,20130100,20151200,7.0,Hà Nội,1971,MALE,hà Nội
1,2,116074930,102,TB16010,-1,Nhân viên lễ tân,20160600,20161200,7.0,Hà Nội,1993,FEMALE,Thành phố Hà Nội
2,4,203060233,102,CB16291,-1,Kế toán,20030300,20050900,1.0,NaN,1977,MALE,NaN
3,5,131373210,105,TE0785E,-1,Nhân viên bếp,20181200,20181200,8.0,Cầu Giấy,1996,FEMALE,NaN
4,6,198079441,102,TZ0000B,-1,Công nhân,19920600,20081100,-1.0,NaN,1971,MALE,NaN

In [247]:
train_ds=train_ds.drop(['id','address_y'],axis=1)

In [248]:
train_ds['address_x']=train_ds['address_x'].str.strip().str.lower()

In [249]:
train_exp=train_ds.copy()

In [250]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [251]:
doc="""An Giang, Vũng Tàu, Bạc Liêu, Bắc Kạn, Bắc Giang, Bắc Ninh, Bến Tre, Bình Dương, Bình Định, Bình Phước, Bình Thuận, Cà Mau, Cao Bằng, Cần Thơ, Đà Nẵng, Đắk Lắk, Đắk Nông, Điện Biên, Đồng Nai, Đồng Tháp, Đà Lạt, Gia Lai, Hà Giang, Hà Nam, Hà Nội, Hà Tây, Hà Tĩnh, Hải Dương, Hải Phòng, Hòa Bình, Hồ Chí Minh, Hậu Giang, Hưng Yên, Khánh Hòa, Kiên Giang, Kon Tum, Lai Châu, Lào Cai, Lạng Sơn, Lâm Đồng, Long An, Nam Định, Nghệ An, Ninh Bình, Ninh Thuận, Phú Thọ, Phú Yên, Quảng Bình, Quảng Nam, Quảng Ngãi, Quảng Ninh, Quảng Trị, Sóc Trăng, Sơn La, Tây Ninh, Thái Bình, Thái Nguyên, Thanh Hóa, Huế, Tiền Giang, Trà Vinh, Tuyên Quang, Vĩnh Long, Vĩnh Phúc, Yên Bái"""
doc1= doc
doc1=doc1.lower()
lst=doc.split(', ')
for x in range(0,len(lst)):
    lst[x]=lst[x].lower()

In [252]:
quan_tp='Quận 1, Quận 3, Quận 4, Quận 5, Quận 6, Quận 8, Quận 10, Quận 11, Quận Phú Nhuận, Quận Bình Thạnh, Quận Tân Phú, Quận Tân Bình, Quận Gò Vấp, Quận 9, Quận 2, Thủ Đức, Quận Bình Tân, Bình Chánh, Quận 7, Nhà Bè, Bình Chánh, Cần Giờ, Quận 12, Hóc Môn, Củ Chi'
quan_hn='Hoàn Kiếm, Đống Đa, Ba Đình, Hai Bà Trưng, Hoàng Mai, Thanh Xuân, Long Biên, Nam Từ Liêm, Bắc Từ Liêm, Tây Hồ, Cầu Giấy, Hà Đông'

l1= quan_tp.split(', ')
l2= quan_hn.split(', ')
for x,y in enumerate(l1):
  l1[x]=l1[x].lower()
for x,y in enumerate(l2):
  l2[x]=l2[x].lower()

In [253]:
import re
def abbreviate(text):
  l=text.split(' ')
  m=''
  for x in l:
    m+=x[0]
  return m
def process(item):
  if type(item)== type(np.nan):
    return np.nan
  k=[]
  best=0
  h= item.split(' ')
  if len(h) > 3:
    item=h[-2]+' '+h[-1]
  for x in lst:
    b1=similar(x,item)
    b2=similar(abbreviate(x),item)
    b= max([b1,b2])
    if best < b:
      best_word=x
      best=b
  if best <0.4:
    return item
  else:
    return best_word
def process1(item):
  if type(item)== type(np.nan):
    return np.nan
  l=item.split(' ')
  for x in lst:
    if x in item:
      return x
  return item
def process_hcm(item):
  if type(item)== type(np.nan):
    return np.nan
  k=[]
  best=0
  h= item.split(' ')
  if len(h) >=2:
    item=h[-2]+' '+h[-1]
  for x in l1:
    b1=similar(x,item)
    b2=similar(abbreviate(x),item)
    b= max([b1,b2])
    if best < b:
      best_word=x
      best=b
  if best <0.5:
    return item
  else:
    return 'hồ chí minh'
def process_hn(item):
  if type(item)== type(np.nan):
    return np.nan
  k=[]
  best=0
  for x in l1:
    b1=similar(x,item)
    b2=similar(abbreviate(x),item)
    b= max([b1,b2])
    if best< b:
      best_word=x
      best=b
  if best < 0.5:
    return item
  else:
    return 'hà nội'

In [254]:
!pip install jellyfish

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: jellyfish in /usr/local/lib/python3.8/dist-packages (0.9.0)

In [255]:
def isin(item):
  if type(item)== type(np.nan):
    return np.nan
  if item in doc1:
    return item

In [256]:
train_exp['address_x']=train_exp['address_x'].map(process_hcm).map(process_hn).map(process).map(isin)

In [258]:
train_exp= train_exp.dropna(subset=['address_x'])

# From date to date

In [344]:
train_exp_date=train_exp.copy()

In [347]:
train_exp_date['duration']=train_exp_date.to_date - train_exp_date.from_date

In [285]:
train_exp_date=train_exp_date.drop(['from_date','to_date'],axis=1)

In [351]:
lst='Công nhân, Nhân viên, Giáo viên, Giám đốc, Kế toán, Chuyên viên, Lái xe, Bảo vệ, Lao động, Kỹ sư, Phó giám đốc, Cán bộ, Kỹ thuật viên, Thủ quỹ, Thủ kho, Y sỹ, Quản lý, Kỹ thuật, Giảng viên, '

In [352]:
l='Kỹ sư, Kế toán, Điều dưỡng, Trưởng phòng, Giao dịch viên, Chuyên gia, Bán hàng, Phóng viên, Tạp vụ, '
l1='Cán sự, Tài xế, Cán bộ, '

In [353]:
l2='Bác sỹ, Văn thư, Thợ may, Bí thư, Tổ trưởng, '

In [354]:
l3='Lập trình viên, '

In [355]:
l4='Dược sỹ, Bộ đội, Kiến trúc sư, Phiên dịch, Thợ hàn, Thư ký, công an, địa chất'

In [356]:
doc=lst+l+l1+l2+l3+l4

In [333]:
doc=doc.split(', ')

In [334]:
doc1=list(map(lambda x: x.lower(), doc))

In [336]:
def abbreviate(text):
  l=text.split(' ')
  m=''
  for x in l:
    m+=x[0]
  return m
def process_job(item):
  if type(item)== type(np.nan):
    return np.nan
  k=[]
  best=0
  h= item.split(' ')
  if len(h) > 3:
    item=h[-2]+' '+h[-1]
  for x in doc1:
    b1=similar(x,item)
    b2=similar(abbreviate(x),item)
    b= max([b1,b2])
    if best < b:
      best_word=x
      best=b
  if best <0.4:
    return item
  else:
    return best_word

In [337]:
train_exp_date['job/role']=train_exp_date['job/role'].str.strip().str.lower()

In [339]:
def isin(item):
  if type(item)== type(np.nan):
    return np.nan
  if item in doc1:
    return item

In [340]:
train_exp_date['job/role']=train_exp_date['job/role'].map(process_job).map(isin)

In [342]:
train_exp_date= train_exp_date.dropna(subset=['job/role'])

In [343]:
train_exp_date.value_counts()

id_bh       id_management  id_office  company_type  job/role    employee_lv  address_x    bithYear  gender  duration
100008102   100            HW0001Z    -1            giáo viên   5.0          hà nội       1970      MALE    49900       1
4010020067  4008           TH06970    -1            lái xe      1.0          nghệ an      1979      MALE    10100       1
4010020004  4008           TH06921    -1            thủ quỹ     1.0          nghệ an      1973      FEMALE  20800       1
4010019890  4013           FM11593     6            điều dưỡng  6.0          nghệ an      1986      FEMALE  31100       1
4010019832  4013           KC11594    -1            chuyên gia  2.0          nghệ an      1983      FEMALE  31100       1
                                                                                                                       ..
2416011638  2400           YN0008Z    -1            công nhân   7.0          hà nội       1997      FEMALE  200         1
2416010579  2400           YN0006Z    -1            bán hàng    5.0          hà nội       1972      FEMALE  600         1
2416010546  2400           YN0006Z    -1            bán hàng    5.0          hà nội       1967      FEMALE  600         1
2416010200  2409           TI0113I    -1            công nhân   5.0          hà nội       1983      MALE    800         1
9820174207  1900           HZ0000Z     6            quản lý     6.0          thái nguyên  1995      MALE    100         1
Length: 21278, dtype: int64

In [349]:
train_exp_date['employee_lv'].unique()

array([ 7.,  8.,  9., 59., 10.,  2.,  6., 12., 30.,  4., 14., 55., 19.,
        1.,  3.,  5.,  0., 50., 11., 52., 16., 38., 41., -1., 32., 48.,
       31., 17., 43., 45., 53., 20., 40., 13., 22., 18., 15., 26., 44.,
       33., 28., 49., 47., 37., 46., 29., 36., 21., 24., 23., 35., 27.,
       54., 58., 56., 34., nan])

start from here

In [388]:
from algo import isin, isin_job, process, process_hcm, process_hn, process_job

In [380]:
work_train_exp=work_train.copy()
work_train_exp=work_train_exp.drop_duplicates(subset=['id_bh'])

work_train_exp= work_train_exp.merge(info_train, right_on='id_bh',left_on='id_bh')

work_train_exp=work_train_exp.drop(['id','address_y'],axis=1)
work_train_exp['address_x']=work_train_exp['address_x'].str.strip().str.lower()

work_train_exp['address_x']=work_train_exp['address_x'].map(process_hcm).map(process_hn).map(process).map(isin)
work_train_exp= work_train_exp.dropna(subset=['address_x'])

In [381]:
### for duration
work_train_exp['duration']=work_train_exp.to_date - work_train_exp.from_date
work_train_exp=work_train_exp.drop(['from_date','to_date'],axis=1)

<ipython-input-381-ee74b2b55062>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  work_train_exp['duration']=work_train_exp.to_date - work_train_exp.from_date

In [393]:
doc_job='Công nhân, Nhân viên, Giáo viên, Giám đốc, Kế toán, Chuyên viên, Lái xe, Bảo vệ, Lao động, Kỹ sư, Phó giám đốc, Cán bộ, Kỹ thuật viên, Thủ quỹ, Thủ kho, Y sỹ, Quản lý, Kỹ thuật, Giảng viên, Kỹ sư, Kế toán, Điều dưỡng, Trưởng phòng, Giao dịch viên, Chuyên gia, Bán hàng, Phóng viên, Tạp vụ, Cán sự, Tài xế, Cán bộ, Bác sỹ, Văn thư, Thợ may, Bí thư, Tổ trưởng, Lập trình viên, Dược sỹ, Bộ đội, Kiến trúc sư, Phiên dịch, Thợ hàn, Thư ký, công an, địa chất'
doc_job=doc_job.split(', ')
doc_job=list(map(lambda x: x.lower(), doc_job))

In [394]:
def isin_1(item):
  if type(item)== type(np.nan):
    return np.nan
  if item in doc_job:
    return item

In [395]:
work_train_exp['job/role']=work_train_exp['job/role'].str.strip().str.lower()
m=work_train_exp['job/role'].map(process_job).map(isin_1).unique()
len(m),m

(44, array(['giám đốc', 'kế toán', 'nhân viên', 'lao động', 'kỹ thuật',
        'bán hàng', 'chuyên viên', None, 'phó giám đốc', 'tổ trưởng',
        'phóng viên', 'bác sỹ', 'quản lý', 'bí thư', 'công nhân', 'kỹ sư',
        'giáo viên', 'điều dưỡng', 'trưởng phòng', 'giảng viên',
        'lập trình viên', 'bộ đội', 'thư ký', 'thủ quỹ', 'bảo vệ',
        'lái xe', 'tài xế', 'kiến trúc sư', 'công an', 'thợ may', 'tạp vụ',
        'văn thư', 'thủ kho', 'chuyên gia', 'giao dịch viên', 'cán bộ',
        'kỹ thuật viên', 'địa chất', nan, 'cán sự', 'phiên dịch',
        'thợ hàn', 'y sỹ', 'dược sỹ'], dtype=object))

In [376]:
### for job/role
work_train_exp['job/role']=work_train_exp['job/role'].str.strip().str.lower()
work_train_exp['job/role']=work_train_exp['job/role'].map(process_job).map(isin_job)
work_train_exp= work_train_exp.dropna(subset=['job/role'])

In [377]:
work_train_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 26603 to 26603
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_bh          1 non-null      int64
 1   id_management  1 non-null      int64
 2   id_office      1 non-null      object
 3   company_type   1 non-null      int64
 4   job/role       1 non-null      object
 5   employee_lv    1 non-null      float64
 6   address_x      1 non-null      object
 7   bithYear       1 non-null      int64
 8   gender         1 non-null      object
 9   duration       1 non-null      int64
dtypes: float64(1), int64(5), object(4)
memory usage: 88.0+ bytes