<a href="https://colab.research.google.com/github/datle2403/datle2403/blob/main/hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
work_train= pd.read_csv('work_train.csv')
work_test=pd.read_csv('work_test.csv')

info_train=pd.read_csv('info_train.csv')
info_test= pd.read_csv('info_test.csv')

label_train= pd.read_csv('label_train.csv')
label_test= pd.read_csv('label_test.csv')

In [4]:
work_train.head()

,id,id_bh,id_management,id_office,company_type,job/role,from_date,to_date,employee_lv,address
0,1,113039360,106,TF2212F,-1,Giám đốc,20130100,20151200,7.0,Hà Nội
1,1,113039360,106,TF2212F,-1,Giám đốc,20160100,20220400,10.0,Hà Nội
2,2,116074930,102,TB16010,-1,Nhân viên lễ tân,20160600,20161200,7.0,Hà Nội
3,2,116074930,102,TB16010,-1,Nhân viên lễ tân,20170100,20170300,8.0,Hà Nội
4,2,116074930,102,NaN,-1,NaN,20170400,20170700,-1.0,NaN

In [5]:
info_train.head()

   bithYear  gender           address      id_bh
0      1971    MALE            hà Nội  113039360
1      1993  FEMALE  Thành phố Hà Nội  116074930
2      1977    MALE               NaN  203060233
3      1996  FEMALE               NaN  131373210
4      1971    MALE               NaN  198079441

In [6]:
work_train.info(),info_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49208 entries, 0 to 49207
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             49208 non-null  int64
 1   id_bh          49208 non-null  int64
 2   id_management  49208 non-null  int64
 3   id_office      46510 non-null  object
 4   company_type   49208 non-null  int64
 5   job/role       42744 non-null  object
 6   from_date      49208 non-null  int64
 7   to_date        49208 non-null  int64
 8   employee_lv    49205 non-null  float64
 9   address        34258 non-null  object
dtypes: float64(1), int64(6), object(3)
memory usage: 3.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27502 entries, 0 to 27501
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bithYear  27502 non-null  int64
 1   gender    27502 non-null  object
 2   address   13214 non-null  object
 3   id_bh     27502 non-null  int64
dtypes: int64(2), object(2)
memory usage: 859.6+ KB

(None, None)

In [7]:
label_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27502 entries, 0 to 27501
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_bh   27502 non-null  int64
 1   label   27502 non-null  int64
dtypes: int64(2)
memory usage: 429.8 KB

In [8]:
work_train=work_train.drop_duplicates(subset=['id_bh'])
work_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6586 entries, 0 to 49204
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             6586 non-null   int64
 1   id_bh          6586 non-null   int64
 2   id_management  6586 non-null   int64
 3   id_office      6582 non-null   object
 4   company_type   6586 non-null   int64
 5   job/role       6534 non-null   object
 6   from_date      6586 non-null   int64
 7   to_date        6586 non-null   int64
 8   employee_lv    6585 non-null   float64
 9   address        4864 non-null   object
dtypes: float64(1), int64(6), object(3)
memory usage: 566.0+ KB

In [114]:
train_ds= work_train.merge(info_train, right_on='id_bh',left_on='id_bh')
train_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27502 entries, 0 to 27501
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             27502 non-null  int64
 1   id_bh          27502 non-null  int64
 2   id_management  27502 non-null  int64
 3   id_office      27489 non-null  object
 4   company_type   27502 non-null  int64
 5   job/role       27366 non-null  object
 6   from_date      27502 non-null  int64
 7   to_date        27502 non-null  int64
 8   employee_lv    27499 non-null  float64
 9   address_x      22252 non-null  object
 10  bithYear       27502 non-null  int64
 11  gender         27502 non-null  object
 12  address_y      13214 non-null  object
dtypes: float64(1), int64(7), object(5)
memory usage: 2.9+ MB

In [115]:
train_ds.head()

,id,id_bh,id_management,id_office,company_type,job/role,from_date,to_date,employee_lv,address_x,bithYear,gender,address_y
0,1,113039360,106,TF2212F,-1,Giám đốc,20130100,20151200,7.0,Hà Nội,1971,MALE,hà Nội
1,2,116074930,102,TB16010,-1,Nhân viên lễ tân,20160600,20161200,7.0,Hà Nội,1993,FEMALE,Thành phố Hà Nội
2,4,203060233,102,CB16291,-1,Kế toán,20030300,20050900,1.0,NaN,1977,MALE,NaN
3,5,131373210,105,TE0785E,-1,Nhân viên bếp,20181200,20181200,8.0,Cầu Giấy,1996,FEMALE,NaN
4,6,198079441,102,TZ0000B,-1,Công nhân,19920600,20081100,-1.0,NaN,1971,MALE,NaN

In [116]:
train_ds=train_ds.drop(['id'],axis=1)

In [117]:
train_ds.head()

,id_bh,id_management,id_office,company_type,job/role,from_date,to_date,employee_lv,address_x,bithYear,gender,address_y
0,113039360,106,TF2212F,-1,Giám đốc,20130100,20151200,7.0,Hà Nội,1971,MALE,hà Nội
1,116074930,102,TB16010,-1,Nhân viên lễ tân,20160600,20161200,7.0,Hà Nội,1993,FEMALE,Thành phố Hà Nội
2,203060233,102,CB16291,-1,Kế toán,20030300,20050900,1.0,NaN,1977,MALE,NaN
3,131373210,105,TE0785E,-1,Nhân viên bếp,20181200,20181200,8.0,Cầu Giấy,1996,FEMALE,NaN
4,198079441,102,TZ0000B,-1,Công nhân,19920600,20081100,-1.0,NaN,1971,MALE,NaN

In [118]:
train_ds['address_x']=train_ds['address_x'].str.strip().str.lower()

In [125]:
train_exp=train_ds

In [126]:
len(train_exp['address_x'].unique())

754

In [129]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [151]:
quan_tp='Quận 1, Quận 3, Quận 4, Quận 5, Quận 6, Quận 8, Quận 10, Quận 11, Quận Phú Nhuận, Quận Bình Thạnh, Quận Tân Phú, Quận Tân Bình, Quận Gò Vấp, Quận 9, Quận 2 & Thủ Đức, Quận Bình Tân, 1 phần Huyện Bình Chánh, Quận 7, Huyện Nhà Bè, Huyện Bình Chánh, Huyện Cần Giờ, Quận 12, Huyện Hóc Môn & Huyện Củ Chi'
quan_hn='Hoàn Kiếm, Đống Đa, Ba Đình, Hai Bà Trưng, Hoàng Mai, Thanh Xuân, Long Biên, Nam Từ Liêm, Bắc Từ Liêm, Tây Hồ, Cầu Giấy, Hà Đông'

l1= quan_tp.split(', ')
l2= quan_hn.split(', ')
for x,y in enumerate(l1):
  l1[x]=l1[x].lower()
for x,y in enumerate(l2):
  l2[x]=l2[x].lower()

In [1]:
import re
def abbreviate(text):
  l=text.split(' ')
  m=''
  for x in l:
    m+=x[0]
  return m
def process(item):
  if type(item)== type(np.nan):
    return np.nan
  k=[]
  best=0
  for x in lst:
    if best < similar(x,item) or best < similar(abbreviate(x),item) :
      best=similar(x,item)
      k=[best,x]
  if best <0.5:
    return item
  else:
    return x
def process1(item):
  if type(item)== type(np.nan):
    return np.nan
  for x in lst:
    if (x in item) or (abbreviate(x) in item):
      return x
    else:
      return item
def process_hcm(item):
  if type(item)== type(np.nan):
    return np.nan
  k=[]
  best=0
  for x in l1:
    if best < similar(x,item):
      best=similar(x,item)
      k=[best,x]
  if best <0.5:
    return item
  else:
    return 'hồ chí minh'
def process_hn(item):
  if type(item)== type(np.nan):
    return np.nan
  k=[]
  best=0
  for x in l2:
    if best < similar(x,item):
      best=similar(x,item)
      k=[best,x]
  if best <0.5:
    return item
  else:
    return 'hà nội'

In [162]:
!pip install jellyfish

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: jellyfish in /usr/local/lib/python3.8/dist-packages (0.9.0)

In [ ]:
m=train_exp['address_x'].map(process, na_action=None).map(process1, na_action=None).map(process_hcm, na_action=None).map(process_hn, na_action=None).unique()
len(m),m

In [164]:
p=['hà nội', np.nan, 'hồ chí minh', 'hn',
        'định công p. đại kim q. hoàng mai hà nội', 'tp. hcm', 'tp.hcm',
        'tphcm', 'q. pn', 'q.1',
        'số nhà 125 phố hoàng ngân phường trung hòa cầu giấy hà nội', 'cg',
        'bd', '72 lê thánh tôn phường bến nghé quận 1', 'q2',
        'thành phố hà nôi.', 'kđt mỹ đình i quận nam từ liêm hà nội',
        '364 cộng hòa qtb', 'v', 'tp hà nội', 'q.7',
        '58 đường 26 p11 q6', 'thành phố hà nôi', 'tp.hcm.',
        'phường cầu diễn – quận nam', 'q.pn', 'hn.',
        '74 nguyễn thị minh khai q3', 'toà nhà hà đô phố hoàng sâm',
        '117 trần duy hưng cầu giấy hà nội', 'hp', '137 a nguyễn văn cừ',
        'hcm', 'vn', 'q.3', '13 kđg quyền thuê đất tân triều thanh trì hn',
        'lô o17 kđt trung yên', '215j nguyễn trãi q.1',
        'lê thị hồng gấm phường ntb quận 1', 'tptb', 'kế toán',
        '5 lê duẩn q.1', '67b lương thế vinh trung văn hà nội', 'tđức',
        'hà nội (đối diện cổng sau ks la thành)', 'q1 tp.hcm',
        'nhà máy nhựa y tế mediplast',
        'ct4b bắc linh đàm  hoàng mai hà nội',
        'số 11 phạm hùng quận nam từ liêm hà nội', 'cskh',
        '117 trần duy hưng', 'm2 kđt mới yên hòa p yên hòa cg hn',
        '98 đường hoàng quốc việt phường nghĩa đô cầu giấy hà nội',
        'tổ 28 p dịch vọng hậu', 'bp', 'q.5', 'c.ty dệt phong phú', 'kt',
        'p bãi cháy tp hạ long quảng ninh', 'tỉnh thừa thiên huế',
        'p12 q6', '25 nguyễn huệ p.bến nghé q.1', 'bg',
        'xã đông thọ yên phong bắc ninh', 'đn', 'xã quang tiến sóc sơn',
        'xã uy nỗ đông anh', 'ngõ 178 nguyễn lương bằng',
        'chi nhánh công ty cổ phần sản xuất và xuất khẩu bao bì jumbo tú phương',
        '2 cụm sx làng nghề tập trung xã tân triều thanh trì hn',
        '5 kn tổng cục v tân triều thanh trì hn', '12 đinh tiên hoàng q1',
        'xã tứ hiệp', 'xã duyên thái thường tín hà nội', 'tp đà lạt',
        't2 khu cn thăng long', '311 nguyễn văn trỗi .q tân bình',
        'số 11 phạm hùng từ liêm hà nội', 'vp', 'trung hòa cg',
        'phú mỹ mỹ đình từ liêm hà nội', 'tct vtqđ', 'dv hậu', 'ct',
        '19 hồ tùng mậu q1', 'tập đoàn viễn thông quân đội',
        'công ty tnhh phát triển công nghệ máy tính 3t việt nam', 'đt',
        '8 khu làng nghề triều khúc tân triều thanh trì hn', 'p13 bt',
        'c8 phường  hoàng văn thụ tp bắc giang tỉnh bắc giang', 'bhxh)',
        '5 kcn điềm thụy xã điềm thụy huyện phú bình tỉnh thái nguyên',
        'tỉnh bắc thái.', 'q.2', 'cn', 'p.hoàng văn thụ tptn',
        'cg (cổng sau big c thăng long)', 'hb',
        'huyện văn quan tỉnh lạng sơn', 'tn',
        '233 lê thánh tôn phường bến thành quận 1', 'vt', 'qđ14',
        'bộ chỉ huy quân sự tỉnh lạng sơn', '4 kcn amata', 'cẩm phả',
        'tỉnh bắc giang (giáp kdc p.mỹ độ)', 'tpbg', 'tp bg',
        'p. hoàng văn thụ', 'tx đụng triều', 'kcn sóng thẩn 2', 'bg.',
        'hà bắc.', 'martin (việt nam)', 'f347 quân khu i', 'lg', 'bd.',
        '57 kcx linh trung ii qthủ đức', 'hd', 't',
        'thị trấn chũ lục ngạn bắc giang', 'nhà b8  tt kim  liên',
        'office', 'ss', 'b12 khu công nghiệp đình trám bắc giang',
        'huyện việt yên tỉnh bắc giang', 'q.tđ', 'số 1 đinh lễ p12 q4',
        'khu đt mới trung hoà nhân chính', 'q.9',
        'xóm 7 thành phố vinh xã nghi phú', 'qtđ', 'tth',
        'tập đoàn công nghiệp viễn thông quân đội',
        '70 kcx linh trung ii q.tđức', '97 kcx linh trung 1',
        'số 15 tô hiến thành hà nội', 'tphn', 'viễn thông quân đội',
        'đường số 2 khu công nghiệp amata', 'thị xó dĩ an',
        'vĩnh phúc (đối diện sở y tế tỉnh vĩnh phúc)',
        'huyện quỳnh lưu. tỉnh nghệ an', 'tđ', '111_ q.tđức',
        'p. việt hưng', 'p.thạnh xuân quận 12. tp hcm',
        'khu công nghiệp nghĩa sơn huyện nghĩa hưng tỉnh nam định',
        'bảo lộc', 'đàlạt', '10h1 kcn tân thới hiệp p.hiệp      thành q12',
        'q bt', 'lđ', 'tp bảo lộc', '62 lê lợi q1', 'kỷ',
        'phường 4 đà lạt', 'tp.đà lạt', 'phường 2 đà lạt', 'dĩ an bd',
        'pn', 'q1. tp. hcm', 'cty cp khoán sản&vật liệu xây dựng lâm đồng',
        'p6 đà lạt', 'p.tân phong q.7', 'hbc', 'p8',
        '4 d1 cn kcn mỹ phước 3 bến cát bd', 'p9 đà lạt', 'q3.',
        'phường11 đà lạt', 'khu công nghiệp biên hòa 2. đồng nai',
        'bảo lâm', '74 nguyễn thị minh khai p6 q3', 'tầng 20)', 'brvt',
        'qpn', '348 võ văn kiệt p an thới  q bình thủy tp cần thơ',
        'khu đô thị an cựu city', 'phường 8 đà lạt',
        'xã nghi xá huyện nghi lộc tỉnh nghệ an', 'p tân hưng q7',
        '29 kcx sài gòn linh trung  p.linh trung q.tđ',
        'cty cpks&vl x.dựng lđ', 'phường 9 đà lạt',
        'd4 chợ đầu mối nông sản chất lượng cao đức trọng',
        'xã long an long thành đồng nai', 'ca rental',
        'nhà a17 tầng bộ tham mưu mỹ đình quận nam từ liêm hà nội', 'q.bt',
        'p7. q3', 'q.8', '43 đường số 2 kcx linh trung ii qtđ',
        'tỉnh brvt', 'p16q11', 'tp.ct',
        'p. phương canh quận nam tư liêm tp hn',
        '12 đường số 19/5a kcn tân bình  p. tây thạnh  q. tân phú  hcm',
        'sư đoàn 333 quân khu 5',
        'xã nghi đồng huyện nghi lộc tỉnh nghệ an', 'p2. q3', 'tt hóc môn',
        '37 dương bá cung p. an lạc a']

In [124]:
len(train_exp['address_x'].unique())

754

In [2]:
abbreviate('hà nội')

'hn'

In [165]:
train_exp = train_exp[~train_exp['address_x'].isin(p)]

In [166]:
train_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18358 entries, 3 to 27501
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_bh          18358 non-null  int64
 1   id_management  18358 non-null  int64
 2   id_office      18358 non-null  object
 3   company_type   18358 non-null  int64
 4   job/role       18330 non-null  object
 5   from_date      18358 non-null  int64
 6   to_date        18358 non-null  int64
 7   employee_lv    18357 non-null  float64
 8   address_x      18358 non-null  object
 9   bithYear       18358 non-null  int64
 10  gender         18358 non-null  object
 11  address_y      8804 non-null   object
dtypes: float64(1), int64(6), object(5)
memory usage: 1.8+ MB

In [105]:
doc="""An Giang
Vũng Tàu
Bạc Liêu
Bắc Kạn
Bắc Giang
Bắc Ninh
Bến Tre
Bình Dương
Bình Định
Bình Phước
Bình Thuận
Cà Mau
Cao Bằng
Cần Thơ
Đà Nẵng
Đắk Lắk
Đắk Nông
Điện Biên
Đồng Nai
Đồng Tháp
Gia Lai
Hà Giang
Hà Nam
Hà Nội
Hà Tây
Hà Tĩnh
Hải Dương
Hải Phòng
Hòa Bình
Hồ Chí Minh
Hậu Giang
Hưng Yên
Khánh Hòa
Kiên Giang
Kon Tum
Lai Châu
Lào Cai
Lạng Sơn
Lâm Đồng
Long An
Nam Định
Nghệ An
Ninh Bình
Ninh Thuận
Phú Thọ
Phú Yên
Quảng Bình
Quảng Nam
Quảng Ngãi
Quảng Ninh
Quảng Trị
Sóc Trăng
Sơn La
Tây Ninh
Thái Bình
Thái Nguyên
Thanh Hóa
Huế
Tiền Giang
Trà Vinh
Tuyên Quang
Vĩnh Long
Vĩnh Phúc
Yên Bái"""
lst=doc.split('\n')
for x in range(0,len(lst)):
    lst[x]=lst[x].lower()

In [ ]:
def process_add(item):
  item=item.lower()
  for x in lst:
    if item in x:
      return x